.grid { 
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
.article {
  border: 1px solid #ccc;
  text-align: center;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }
.profileImage {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: 0 auto;
  background: #E5E5E5;
  font-size: 35px;
  color: black;
  line-height: 120px;
}
a {
  text-decoration: none;
  color:#81C3CF
}
.text {
  padding: 20px;
}
span {
  color: white;
}
.text > .button {
  display: inline-block;
  background: #248CFB;
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 10px;
  width: 90%;
  }
 ul {
   list-style-type: none;
 }
ul .dashed:before {
    position: absolute;
    content: '-';
    margin-left: -15px 
  }
.list {
  list-style-type: disc;
}
.container {
  display: flex;
  justify-content: center;
  padding: 100px;
  font-size: 1.3em;
}
.container div {
  border: 1px solid black;
  padding: 20px 20px 20px 10px;
}
